.sexy_data {
	background-color: whitesmoke;
	margin: auto;
	width: 90%;
	padding: 10px;
	display: flex;
}

.sexy_data_cards {
	display: flex;
}

.sexy_data_cards h3 {
	font-size: 20px;
}

.sexy_data_card {
}
